<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS}[%thread] %-5level - [%X{userName:-/}] - %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/blitzsh.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/blitzsh.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{dd.MM.yyyy HH:mm:ss.SSS}[%thread] %-5level - [%X{userName:-/}] - %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
    	<appender-ref ref="STDOUT" />
    </appender>
    
    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
    	<appender-ref ref="FILE" />
    </appender>

	<logger name="blitzsh" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="ASYNC_STDOUT" />
		<appender-ref ref="ASYNC_FILE" />
	</root>
</configuration>
